// See: http://support.jwplayer.com/customer/portal/articles/2067702-skin-css

/******************************************************************************/
/* Player - States                                                            */
/******************************************************************************/

/*
    The state of the player is reflected in the DOM by a class on the main div.
    It will always contain one of the following:

        jw-state-playing
        jw-state-paused
        jw-state-buffering
        jw-state-idle - before pressing play
        jw-state-complete - after playlist completes
*/


/******************************************************************************/
/* Player - Flags                                                             */
/******************************************************************************/

/*
    Sometimes the player needs to signify certain modes of the playback.
    These flags will be present on the main div and can be:

        jw-flag-fullscreen - when the player is in fullscreen
        jw-flag-live - when the player is playing back live video
        jw-flag-user-inactive - added after a few minutes of inactivity
        jw-flag-controlbar-only - player is less than 30 pixels tall
        jw-flag-media-audio - content being played is an audio file
        jw-flag-dragging - mouse down with cursor over control bar
        jw-flag-aspect-mode - enable a padding to create an aspect ratio
*/


/******************************************************************************/
/* Player - Poster Images                                                     */
/******************************************************************************/

/*
    These define how the poster image will be stretched to fill the space given.
    Internally this state is used to stretch the player using JS.

        jw-stretch-none
        jw-stretch-uniform
        jw-stretch-fill
        jw-stretch-exactfit
*/


/******************************************************************************/
/* Player - Icons                                                             */
/******************************************************************************/

/*
    All JW Player icons are rendered using the font jw-six-icons.eot.
    Each icon has a character code that is mapped to a corresponding interface element.

        Icon            Character Code
        Play            \e60e
        Replay          \e610
        Pause           \e60d
        Previous        \e60f
        Next            \e60c
        Cuepoint        \e606
        Buffering       \e601
        HD Off          \e60a
        HD On           \e609
        CC Off          \e605
        CC On           \e604
        Fullscreen      \e608
        Menu Bullet     \e606
        Audio Tracks    \e600
        Volume On       \e612
        Volume Off      \e611
        More            \e614
        Close           \e615

    The easiest way to modify the default icons is to create a new font based
    on these character mappings. See Creating Web Font for more information.
*/

.jw-icon {
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale
}

@mixin jw-tip() {
    background: rgba(0,0,0,0.6);
    border: 0;
    padding: .5em;
}

@mixin knob() {
    width: .2em;
    height: .6em;
    background-color: #fff;
    //box-shadow: 0 0 0 1px #000;
    border-radius: 0em;
    margin-top:-3px;
}

.jw-skin-pocket {

    /**************************************************************************/
    /* Colors                                                                 */
    /**************************************************************************/

    /*
        This is a class that will add a set of style to all interface elements
        without having to change it for each individual class. We advise only
        using jw-background-color for color and not other CSS properties.
        The player will add this class to the following elements:

            jw-dock-button
            jw-icon-display-container
            jw-controlbar
            jw-menu
            jw-slider-volume
     */
    .jw-background-color {
        background: rgba(51, 51, 51, 0.7);
    }

    /*
        This is a class that player will add to specific elements when color is
        overridden from within the player configuration setup. You can also use
        this to easily change all button colors in your skin. The player will
        add this class all icons.
    */
    .jw-button-color {
        color: rgba(255,255,255,0.7);

        /*
            This will adjust the color of all buttons when they are hovered on.
        */
        &:hover {
            color: #fff; 
        }

    }

    /*
        This class is added to all text elements (time tooltip, controlbar duration,
        controlbar elapsed, menu options).
    */
    .jw-text {
        color: #ddd;
    }

    /**************************************************************************/
    /* Misc                                                                   */
    /**************************************************************************/

    /*
        Added to toggable icons if de-/activated.
        Used in elements like:

            .jw-icon-hd (only if there are 2 options: off and on)
            .jw-icon-cc (only if there are 2 options: off and on)
            .jw-icon-volume

    */
    .jw-toggle {
        color: #000;

        &.jw-off {
            color: #464646; 
        }
    }

    /**************************************************************************/
    /* Title and Preview Image                                                */
    /**************************************************************************/

    /*
        The title and description configuration options are displayed in their
        own classes overlaid on the player.

        These define how the poster image will be stretched to fill the space given.
        Internally this state is used to stretch the player using JS.

            jw-stretch-none
            jw-stretch-uniform
            jw-stretch-fill
            jw-stretch-exactfit
    */

    /*
        This class styles the preview image from the image configuration option
        in the player setup per-playlist item.
    */
    .jw-preview {
    }

    /*
        This is the wrapper class the text overlays.
    */
    .jw-title {

        /*
            This class is populated with content from the title configuration
            option from the player setup.
        */
        .jw-title-primary {
        }

        /*
            This class is populated with content from the description
            configuration option in the player setup per-playlist item.
        */
        .jw-title-secondary {
        }

    }


    /**************************************************************************/
    /* Menus and Overlays                                                     */
    /**************************************************************************/

    /*
        JW Player will automatically populate overlay divs on mouseover/touch of
        certain interface elements. These overlays are for the timeslider tooltip,
        closed-captions, video qualities, multiple audio-tracks, and the volume
        slider. There is also a new special menu for the visual playlist.

        All overlays are wrapped in this class. It is not advised to modify this
        class but rather the containers within this class. This class when
        appended to the parent controlbar class will position the overlays. 
    */
    .jw-overlay {
    }

    /**************************************************************************/
    /* Captions                                                               */
    /**************************************************************************/

    .jw-captions {

        .jw-captions-window {

            .jw-captions-text {
            }

        }

    }


    /**************************************************************************/
    /* Icon Tooltips                                                          */
    /**************************************************************************/

    /*
        Icon tooltips are menus that appear when hovering over an one of the
        icon interface elements.

        HTML-Example:
        <div class="jw-icon jw-icon-tooltip jw-icon-hd jw-button-color jw-reset">
            <div class="jw-overlay jw-reset">
                <ul class="jw-menu jw-background-color jw-reset">
                    <li class="jw-text jw-option jw-item-0 jw-reset">720p</li>
                    <li class="jw-text jw-option jw-item-1 jw-reset">576p</li>
                    <li class="jw-text jw-option jw-item-2 jw-reset jw-active-option">480p</li>
                    <li class="jw-text jw-option jw-item-3 jw-reset">360p</li>
                    <li class="jw-text jw-option jw-item-4 jw-reset">240p</li>
                </ul>
            </div>
        </div>
    */

    /*
        This class is added to icons that open menus.
    */
    .jw-icon-tooltip {

        /*
            Show the underlying menu.
        */
        &.jw-open {
        }

    }

    /*
        This class is added to an unordered list for HD, CC, and audio-tracks menus.
        And to a div for playlists.
    */
    .jw-menu {
        @include jw-tip();

        .jw-option {
            color: #bbbbbb;

            /*
                This sets the font color and background color for the active
                item in HD, CC and audio-track menus. 
            */
            &.jw-active-option {
                color: #fff;    
            }

            &:hover {
                color: #fff;    
            }

        }

    }


    /**************************************************************************/
    /* Controls                                                               */
    /**************************************************************************/

    /*
        All player controls are within the .jw-controls class. When JW Player is
        set to controls: false, this entire class has a visibility of hidden.
        To not include a specific item in your skin, you will need to override
        the style with a visibility or display of none.

        The controls section is split into Display, Controlbar, and Dock.
    */

    .jw-controls {

        /**********************************************************************/
        /* Controls - Display                                                 */
        /**********************************************************************/

        /*
            Used to style the container in which the display icons are.
        */
        .jw-display-icon-container {
            border-radius: 0.2em;

            /*
                Used to style icons that appear in the display container. The
                icon that is rendered depends on the state the player is in.
            */
            .jw-icon-display {
                color: rgba(238, 238, 238, 0.8);
            }

            &:hover {
                background: rgba(0,0,0,0.4);

                .jw-icon-display {
                    color: #fff;
                }
            }
        }


        /**********************************************************************/
        /* Controls - Controlbar                                              */
        /**********************************************************************/

        .jw-controlbar {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

            padding-bottom:0.7em;
            padding-top:1.2em;

            /*
                Used to vertically align the timeslider and all icons in the
                center of the controlbar.
            */
            .jw-group {

                /*
                    All direct children of the left and right controlbar group
                    will have one of the following classes:

                        jw-icon-inline  - for standalone icons
                        jw-icon-tooltip - for icons that have a submenu/tooltip
                        jw-text-xyz     - for the both text elements
                */
                .jw-icon-inline,
                .jw-icon-tooltip,
                .jw-text-elapsed,
                .jw-text-duration {
                    padding: 0 .25em;
                }


                /**************************************************************/
                /* Controls - Controlbar - left group                         */
                /**************************************************************/

                /*
                    The left group contains playback controls, the visual
                    playlist, and elapsed time:
                */
                &.jw-controlbar-left-group {

                    /*
                        The container that holds the play/pause icons. The icon
                        is switched depending on the state the player is in.
                    */
                    .jw-icon-playback{
                    }

                    /*
                        The control to toggle to the previous playlist item.
                    */
                    .jw-icon-prev {
                    }

                    /*
                        The control to toggle to the next playlist item.
                    */
                    .jw-icon-next {
                    }

                    /*
                        The container for the elapsed video duration.
                    */
                    .jw-text-elapsed {
                    }

                    /*
                        The container for the visual playlist icon. The player
                        will add the visual playlist overlay automatically when
                        this element is hovered over.
                    */
                    .jw-icon-playlist {

                        .jw-playlist-container {
                            padding: 0;
                            left: -42%;
                            background-color: #fff;

                            .jw-tooltip-title {
                                color: #464646;
                                border-bottom: 1px solid #000;
                                background-color: #ececec;
                            }

                            .jw-playlist {

                                .jw-option {
                                    border-bottom: 1px solid #ececec;
                                    background-color: #fff;
                                    padding-right: 1em;
                                    color: #464646;

                                    &:hover,
                                    &.jw-active-option {
                                        background-color: #ececec;
                                        color: #000;
                                    }

                                    .jw-label {
                                    }
                                    .jw-name {
                                    }
                                }

                            }

                        }

                    }

                }


                /**************************************************************/
                /* Controls - Controlbar - center group                       */
                /**************************************************************/

                /*
                    The center group contains the elements that make up the timeslider.
                */
                &.jw-controlbar-center-group {

                    .jw-slider-time {
                        position:absolute;
                        top:0px;
                        width:100%;
                        padding:0em;
                        height:0.3em;
                        .jw-time-tip {
                            @include jw-tip();

                            bottom: 1em;

                            .jw-text {
                                color: #bbb;
                            }
                        }
                    }

                }


                /**************************************************************/
                /* Controls - Controlbar - right group                        */
                /**************************************************************/

                &.jw-controlbar-right-group {

                    /*
                        Wrapper for the total duration of the file being played.
                        This allows you style both current time and duration
                        differently.
                    */
                    .jw-text-duration {
                        color: #fff;
                    }

                    /*
                        This is the class assigned to the div contains the HD
                        icon. The player will automatically add a menu to the
                        hover state of this div if there are more than 2 qualities
                        provided per playlist item. Otherwise this div will have
                        a state class .jw-toggle to indicate it was toggled on.
                    */
                    .jw-icon-hd {
                    }

                    /*
                        This is class assigned to the div contains the closed-caption
                        CC icon. The player will automatically add a menu to the
                        hover state of this div if there are more than 2 caption 
                        racks per playlist item. Otherwise this div will have a
                        state class .jw-toggle to indicate it was toggled on.
                    */
                    .jw-icon-cc {
                    }

                    /*
                        This is class assigned to the div contains the multiple
                        audiotracks icon. The player will automatically add a menu
                        to the hover state of this div if there are more than 2
                        qualities provided per playlist item.
                    */
                    .jw-icon-audio-tracks {
                    }

                    /*
                        This is class assigned to the div contains the volume
                        icon. The player will automatically add a menu to the
                        hover state of this div that contains the slider volume.
                    */
                    .jw-icon-volume {

                        /*
                            When the player is muted the .jw-off class gets
                            added to toggle the volume off icon.
                        */
                        &.jw-off {
                        }

                        &.jw-volume-tip {
                            @include jw-tip();
                        }
                    }

                    /*
                        This is class assigned to the div contains the fullscreen
                        icons.
                    */
                    .jw-icon-fullscreen {

                        /*
                            The player will add .jw-off class to toggle between
                            fullscreen and exit fullscreen icons.
                        */
                        &.jw-off {
                        }
                    }

                    /*
                        This class is used to display the Chromecast icon.
                    */
                    .jw-icon-cast {
                    }

                }
            }
        }


        /**********************************************************************/
        /* Controls - Controlbar                                              */
        /**********************************************************************/

        /*
            This is the parent container that positions the dock elements.
            In JW 7 the dock elements are on the upper right corner of the player.
        */
        .jw-controls-right {

            /*
                This is the container that houses all of the dock buttons.
            */
            .jw-dock {

            }

            /*
                This is the class assigned to the div to style the interface
                button for dock elements.
            */
            .jw-dock-button {
                background: rgba(51, 51, 51, 0.7);
                border-radius: 0;

                &:hover {
                    background: #333;
                }

                .jw-text {
                    color: #bbb;
                }
            }
        }
    }

    /**************************************************************************/
    /* Slider (used for time and volume)                                      */
    /**************************************************************************/

    /*
        The containers that hold the timeslider elements.
    */
    .jw-slider-container {
        /*
            Sets the style for the base layer of the slider.
        */
        .jw-rail {
            background: #333;
        }

        /*
            Sets the style for the how much of video has been buffered,
            which is layered on top of .jw-rail.
        */
        .jw-buffer {
            background: #ccc;
        }

        /*
            Sets the style for the elapsed video, which is layered
            on top of .jw-buffer.
        */
        .jw-progress {
            background: #b52100;
        }

        /*
            This marks the tip of the progress rail, used to
            indicate where playback is currently.
        */
        .jw-knob {
             @include knob();
        }

    }

    .jw-slider-horizontal {
        background: transparent;

        .jw-slider-container {
            height: .9em;

            .jw-rail,
            .jw-buffer,
            .jw-progress {
                height: .2em;
                border-radius: 0;
            }

            .jw-rail {
                box-shadow: none;
            }

            .jw-knob {
                @include knob();
            }

            /*
                This class is used for timeslider cuepoints, like
                chapters and ad breaks.
            */
            .jw-cue {
                top: -0.1em;
                width: .1em;
                height: .4em;
                background-color: #000;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
            }
        }
    }

    .jw-slider-vertical {
        .jw-slider-container {
            .jw-rail,
            .jw-progress {
                width: .2em;
            }

            .jw-progress {
                background: #fff;
            }

            .jw-rail {
                background: #737373;
            }

            .jw-knob {
                margin-bottom: -1px;
                width: .6em;
                background: linear-gradient(to bottom, #fff 0, #fff 30%, #333 100%);
                border-radius: 0;
                height: 2px;
                width: 100%;
            }
        }
    }

}