// @import "_bootstrap-mincer.scss";
// @import "_bootstrap-sprockets.scss";
@import "bootstrap";
@import "templ.scss";
/* Large Devices, Wide Screens */

$large-screen: 1200px;

/* Medium Devices, Desktops */

$medium-screen: 992px;

/* Small Devices, Tablets */

$tablet-screen: 768px;

/* Extra Small Devices, Phones */

$phone-screen: 480px;

/* Custom, iPhone Retina */

$retina-screen: 320px;

/* COLORS */
$brand-primary:         #159fd1; // #337ab7
$brand-success:         #8cc641;
$brand-info:            #20409a;
$brand-warning:         #f15d23;
$brand-danger:          #ed2a29;
$sep-grey: #D6D6D6;
$charcoal: #21282e;
$premium: #E5C70D;


@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.ttf");
}

* {

}
body {
    background: #e3e5e7;
    color: #333;
    padding-top: 50px;
	font-size: 14px;
	overflow-x: hidden;
	font-family: "HelveticaNeue";
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	font-family: "HelveticaNeue";
}
.jumbotron {
	color:white;
	background-color: #333;
	min-height: 30em;
	background: url('../images/banner.jpg');
	background-size: cover;
	margin-bottom:0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.page-header {
  border-bottom: 1px solid $sep-grey;
}
.premium {
	color: $premium !important;
	right: 10px;
	bottom: 10px;
	position: absolute;
}
.mktng-card {
	position: relative;
	width:100%;
	padding: 1em;
	min-height: 307px;
	max-height: 539px;
	img {
		position: absolute;
		top: 0;
		left:0;
		z-index: 1;
		max-height: 539px;
		max-width: 100%;
		opacity: 0.8;
	}
	h2, p {
		position: relative;
		z-index: 99;
		width:100%;
		text-align: left;
		color:white;
		text-shadow:0px 0px 5px black,0px 0px 5px black,0px 0px 5px black;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
}

.mktng-subc {
	.subs {
		padding:10em;
	}
}
.player-cont {
	background: $charcoal;
	color: #efefef;
	overflow-y: hidden;
	img {
		width:100%;
		position: relative;
	}
	.listing {
		padding-left:1em!important;
		overflow-y: scroll;
		direction: rtl;
		text-align: left;
		height:200px;
		ul {
			list-style: none;
		    padding-left: 5px;
		    color: #cdcdcd;
		    li {
		    	padding:5px 5px;
		    	small {
		    		display: block;
		    		font-size: 0.7em;
		    		color: #999;
		    	}
		    	&:hover {
		    		background: #9c9c9c;
		    		color: #333;
		    		small {
		    			color: #444;
		    		}
		    	}
		    }
		}
	}
}


.video-slider, .chan-slider {	
	margin:0 -15px!important;
	margin-bottom: 2em!important;
	 width: 105%;
	.slick-prev:before, .slick-next:before {
		color: black;
		font-size: 30px;
	}
	.slick-arrow {
		text-shadow: 1px 1px 9px rgb(18, 18, 18);
	}
	.slick-prev {
		left: -15px;
		z-index: 2;
		background: rgba(0, 0, 0, 0.80);
		background: linear-gradient(to left, transparent, black);
	}
	.slick-next {
		right: -15px;
		z-index: 2;
		background: rgba(0, 0, 0, 0.80);
		background: linear-gradient(to right, transparent, black);
	}
	.slick-list {
	  overflow: visible;
	}
	.slick-next, .slick-prev {
		width: 50px;
		height: 100%;
	}
	.slide {
		padding:1px;
		position: relative;
		display: block;
		.cover {
			opacity: 0;
			display: block;
			position: absolute;
			padding: 0.7em 1em;
			top: 0px;
			left: 0px;
			background: rgba(0, 0, 0, 0.74);
			box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9), 0px 0px 7px rgba(0, 0, 0, 0.4);
			z-index: 2;
			width: 100%;
			height: 100%;
			color:white;
			overflow: hidden;
			&:hover {
				opacity: 1;
				transition-duration:0.2s;
			}
		}
		img {
			width:100%;
			display:block;
			height: auto;
			position: relative;
		}
	}
}

.chan-slider {
	.slide {
		img {
			width:200px;
			height:100px;
		}
	}
}

.tv_guide_table {
	&.table {
		thead {
			th {
				text-align: center;
			}
		}
		tbody {
			tr {
				td {
					padding-left:3em;
					padding-right:3em;
					margin:3px;
					&:nth-child(2) {
						background:white;
						button {
							visibility:hidden;
						}
						&:hover {
							button {
								visibility:visible;
							}
							background: $brand-info;
							color: white;
						}
					}
				}
			}
		}
	}	
}

select.genre {
	width:14em;
}

.navbar-brand {
	width:200px;

	span.logo {
		float:left;
		clear:both;
		img {
			max-height: 50px;
		    margin: 0px;
		    margin-top: -15px;
		    max-width: 50px;

		}
	}
	span.text {
		margin-left:10px;
		padding-top:10px;
	}
}

.carousel-inner {
	img {
		max-height: 30em;
	}
}

footer {
	height:10em;
	background: #1babe2;
	color: white;
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : $retina-screen) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : $phone-screen) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : $tablet-screen) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : $medium-screen) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : $large-screen) {

}