<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Title Page</title>
		
		<!-- Slick http://kenwheeler.github.io/slick/ -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.transitions.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.theme.css') }}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.scss.css') }}">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% include 'navbar.html' %}
		{% block header %}
		{% endblock %}
		<div class="">
			{% block body %}
			{% endblock %}
		</div>

		{% block footer %}
		{% endblock %}

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<!-- owl.carousel.js -->
		<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
		<!-- JavaScript -->
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	</body>
</html>

