<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Title Page</title>
		
		<!-- Slick http://kenwheeler.github.io/slick/ -->
		<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="/static/css/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">
		<link rel="stylesheet" type="text/css" href="/static/css/nanoscroller.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-image-gallery.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.scss.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body onload="loaded()">
		{% include 'navbar.html' %}
		{% block header %}
		{% endblock %}
		<div class="">
			{% block body %}
			{% endblock %}
		</div>

		{% block footer %}
		<footer>
			<div class="container">
			<div class="text-center">
				<img style="width:100px;" src="/static/images/logo-white.png" alt=""><br>
				<h4>Pocket Tv</h4><hr>
			</div>
			    <div class="row text-center">
			            <div class="col-sm-3 col-xs-6">
			                <ul class="list-unstyled">
			                    <li>GitHub<li>
			                    <li><a href="#">About us</a></li>
			                    <li><a href="#">Blog</a></li>
			                    <li><a href="#">Contact & support</a></li>
			                    <li><a href="#">Site status</a></li>
			                </ul>
			            </div>
			            <div class="col-sm-3 col-xs-6">
			                <ul class="list-unstyled">
			                    <li>Applications<li>
			                    <li><a href="#">Android App</a></li>
			                    <li><a href="#">IOS App</a></li>
			                    <li><a href="#">Windows App</a></li>
			                    <li><a href="#">Other Apps</a></li>
			                </ul>
			            </div>
			            <div class="col-sm-3 col-xs-6">
			                <ul class="list-unstyled">
			                    <li>Services<li>
			                    <li><a href="#">Web analytics</a></li>
			                    <li><a href="#">Presentations</a></li>
			                    <li><a href="#">Telenor Home</a></li>
			                    <li><a href="#">Careers</a></li>
			                </ul>
			            </div>
			            <div class="col-sm-3 col-xs-6">
			                <ul class="list-unstyled">
			                    <li>Documentation<li>
			                    <li><a href="#">Product Help</a></li>
			                    <li><a href="#">Developer API</a></li>
			                    <li><a href="#">Product Markdown</a></li>
			                    <li><a href="#">Product Pages</a></li>
			                </ul>
			            </div>
			    </div>
			    <hr>
			    <div class="row">
			            <div class="col-xs-8">
			                <ul class="list-unstyled list-inline pull-left">
			                    <li><a href="#">Terms of Service</a></li>
			                    <li><a href="#">Contact Us</a></li>
			                    <li><a href="#">Privacy</a></li>
			                </ul>
			            </div>
			            <div class="col-xs-4">
			                <p class="pull-right">© 2015 Telenor. All rights reserved</p>
			            </div>
			        </div>
			</div>
		</footer>
		{% endblock %}

		<!-- jQuery -->
		<script src="/static/js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- owl.carousel.js -->
		<script src="/static/js/owl.carousel.js"></script>
		<!-- jquery.nanoscroller.min.js -->
		<script src="/static/js/jquery.nanoscroller.min.js"></script>
		<!-- bootstrap-image-gallery.js -->
		<script src="/static/js/bootstrap-image-gallery.js"></script>
		<!-- JavaScript -->
		<script src="/static/js/scripts.js"></script>

		{% block footer_scripts %}
		{% endblock %}
	</body>
</html>

