{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container-fluid tv_guide_table">
	<div class="row">
		<div class="col-sm-6 no-pad">
			<div class="dropdown">
			  <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown">Choose Channel
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><a href="#">Geo</a></li>
			    <li><a href="#">Express</a></li>
			    <li><a href="#">Dunya</a></li>
			  </ul>
			</div>
		</div>

		<div class="col-sm-6 no-pad">
			<div class="dropdown">
			  <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown">Choose Date
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><a href="#">7th Feb</a></li>
			    <li><a href="#">8th Feb</a></li>
			    <li><a href="#">9th Feb</a></li>
			  </ul>
			</div>
		</div>
	</div>

	<h1>Geo TV</h1>
	<div class="row row-eq-height">
		<div class="col-md-2 onecell chan_logo">
			<img class="img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
		</div>
		<div class="col-md-5 onecell now">
			<span class="inner">
				<h3>The Adventures of Robin Hood (1938)</h3>
				<small class="text-muted">7:00 – 10:00p</small>
				<p>An in-depth examination of the day's top weather stories.</p>
				<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
			</span>
		</div>
		<div class="col-md-5 onecell later">
			<span class="inner">
				<button class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> Subscribe</button>
			</span>
		</div>
	</div><hr>
	<div class="row row-eq-height">
		<div class="col-md-2 onecell chan_logo">
			<img class="img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
		</div>
		<div class="col-md-5 onecell now">
			<span class="inner">
				<h3>The Adventures of Robin Hood examination of the day examination of the day examination of the day(1938)</h3>
				<small class="text-muted">7:00 – 10:00p</small>
				<p>An in-depth examination of the day's top weather stories.</p>
				<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
			</span>
		</div>
		<div class="col-md-5 onecell later">
			<span class="inner">
				<button class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> Subscribe</button>
			</span>
		</div>
	</div><hr>
	<div class="row row-eq-height">
		<div class="col-md-2 onecell chan_logo">
			<img class="img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
		</div>
		<div class="col-md-5 onecell now">
			<span class="inner">
				<h3>The Adventures of Robin Hood (1938)</h3>
				<small class="text-muted">7:00 – 10:00p</small>
				<p>An in-depth examination of the day's top weather stories.</p>
				<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i> <span class="premium"><i class="glyphicon glyphicon-star"></i></span></button>
			</span>
		</div>
		<div class="col-md-5 onecell later">
			<span class="inner">
				<button class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> Subscribe</button>
			</span>
		</div>
	</div><hr>
</div>
{% endblock %}