{% extends "base.html" %}

{% block header %}
<div class="row row-eq-height player-cont no-pad">
    <div class="col-md-9">
        <img class="img-responsive" src="{{ url_for('static', filename='images/player.png') }}" alt="">
    </div>
    <div class="col-md-3 listing">
        <h3>TV Guide Listings</h3>
        <ul>
            <li>1 vs. 100
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>1st & Ten
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>10 Things I Hate About You
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The 100
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>100 Deeds for Eddie McDowd
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>100 Questions
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>101 Ways to Leave a Game Show
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>106 & Park
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adam-12
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adams of Eagle Lake
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures in Paradise
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures in Wonderland
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Batman
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Brisco County, Jr.
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Jimmy Neutron: Boy Genius
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Kit Carson
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Ozzie and Harriet
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Pete & Pete
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Rin Tin Tin
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures of Sonic the Hedgehog
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Super Mario Bros. 3
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures of Superman
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>AfterMASH
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Aliens in America
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All About the Andersons
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All About Us
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All-American Girl
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All in the Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All My Children
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All of Us
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All Souls
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All Star Anything Goes
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All That
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All That Glitters
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All's Fair
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Ally
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Ally McBeal
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row chanlist no-pad">
        <h3>Live Channels</h3>
        <div class="clearfix">
            <div id="chancarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="{{ url_for('static', filename='images/lg1.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="{{ url_for('static', filename='images/lg2.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="{{ url_for('static', filename='images/lg3.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{ url_for('static', filename='images/lg4.jpg') }}"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{ url_for('static', filename='images/lg4.jpg') }}"></div>
                    </div><!-- /item -->
                    <div class="item">
                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="{{ url_for('static', filename='images/lg1.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="{{ url_for('static', filename='images/lg2.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="{{ url_for('static', filename='images/lg3.png') }}"></div>
                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="{{ url_for('static', filename='images/lg4.jpg') }}"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{ url_for('static', filename='images/lg4.jpg') }}"></div>
                    </div><!-- /item -->
                </div><!-- /carousel-inner -->
                <a class="left carousel-control" href="#chancarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#chancarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- /thumbcarousel -->
        </div><!-- /clearfix -->
    </div>
    <hr>
    <div class="row rowlist no-pad">
        <h3>Most Popular</h3>
        <div class="clearfix">
            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?s1sd"></div>
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?s1dasd"></div>
                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://lorempixel.com/300/150/?t1h"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?514r"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?d1f"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?ds1aw"></div>
                    </div><!-- /item -->
                    <div class="item">
                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://lorempixel.com/300/150/?4213"></div>
                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://lorempixel.com/300/150/?x1cv"></div>
                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://lorempixel.com/300/150/?213"></div>
                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://lorempixel.com/300/150/?415"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?t1yrt"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?hf1g"></div>
                    </div><!-- /item -->
                </div><!-- /carousel-inner -->
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- /thumbcarousel -->
        </div><!-- /clearfix -->
    </div>
    <div class="row rowlist no-pad">
        <h3>Most Popular</h3>
        <div class="clearfix">
            <div id="thumb2carousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?ssd"></div>
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?sdasd"></div>
                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://lorempixel.com/300/150/?th"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?54r"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?df"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?dsaw"></div>
                    </div><!-- /item -->
                    <div class="item">
                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://lorempixel.com/300/150/?423"></div>
                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://lorempixel.com/300/150/?xcv"></div>
                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://lorempixel.com/300/150/?23"></div>
                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://lorempixel.com/300/150/?45"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?tyrt"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?hfg"></div>
                    </div><!-- /item -->
                </div><!-- /carousel-inner -->
                <a class="left carousel-control" href="#thumb2carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumb2carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- /thumbcarousel -->
        </div><!-- /clearfix -->
    </div>
    <div class="row rowlist no-pad">
        <h3>Latest Movies</h3>
        <div class="clearfix">
            <div id="thumb3carousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?s6sd"></div>
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?s6dasd"></div>
                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://lorempixel.com/300/150/?t6h"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?564r"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?d6f"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?d6saw"></div>
                    </div><!-- /item -->
                    <div class="item">
                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://lorempixel.com/300/150/?4623"></div>
                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://lorempixel.com/300/150/?x6cv"></div>
                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://lorempixel.com/300/150/?263"></div>
                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://lorempixel.com/300/150/?456"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?t6yrt"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?h6fg"></div>
                    </div><!-- /item -->
                </div><!-- /carousel-inner -->
                <a class="left carousel-control" href="#thumb3carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumb3carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- /thumbcarousel -->
        </div><!-- /clearfix -->
    </div>
    <div class="row rowlist no-pad">
        <h3>Latest Dramas</h3>
        <div class="clearfix">
            <div id="thumb4carousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?s5sd"></div>
                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://lorempixel.com/300/150/?sd5asd"></div>
                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://lorempixel.com/300/150/?t5h"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?554r"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?d5f"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?d5saw"></div>
                    </div><!-- /item -->
                    <div class="item">
                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://lorempixel.com/300/150/?423"></div>
                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://lorempixel.com/300/150/?xcv"></div>
                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://lorempixel.com/300/150/?253"></div>
                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://lorempixel.com/300/150/?455"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?t5yrt"></div>
                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://lorempixel.com/300/150/?h5fg"></div>
                    </div><!-- /item -->
                </div><!-- /carousel-inner -->
                <a class="left carousel-control" href="#thumb4carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumb4carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- /thumbcarousel -->
        </div><!-- /clearfix -->
    </div>
    <hr><br>
</div>

{% endblock %}

{% block footer %}
<footer>
	
</footer>
{% endblock %}