{% extends "base.html" %}

{% block header %}
<div class="container-fluid" style="background:black;">
    <h1 style="color:rgba(255, 255, 255, 0.81);"><img src="/static/images/Geo_TV_Logo.png"> GEO TV</h1>
    <div id="channel_landing" class="row row-eq-height player-cont no-pad">
        <div class="player_container">
            <script src="//content.jwplatform.com/players/mehQh2nv-jmwSY1dq.js"></script>
        </div>
        <div id="panelist" class="listing nano">
            <div class="nano-content">
                <h3>TV Guide Listings</h3>
            <ul>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">1 vs. 100
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">1st & Ten
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">10 Things I Hate About You
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The 100
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">100 Deeds for Eddie McDowd
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">100 Questions
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">101 Ways to Leave a Game Show
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">106 & Park
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adam-12
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adams of Eagle Lake
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Addams Family
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Addams Family
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Addams Family
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adventures in Paradise
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adventures in Wonderland
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Batman
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Brisco County, Jr.
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Jimmy Neutron: Boy Genius
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Kit Carson
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Ozzie and Harriet
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Pete & Pete
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Rin Tin Tin
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adventures of Sonic the Hedgehog
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">The Adventures of Super Mario Bros. 3
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Adventures of Superman
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">AfterMASH
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Aliens in America
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All About the Andersons
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All About Us
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All-American Girl
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All in the Family
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All My Children
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All of Us
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All Souls
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All Star Anything Goes
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All That
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All That Glitters
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">All's Fair
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Ally
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
                <li><img src="http://lorempixel.com/30/30/?{{random()}}">Ally McBeal
                <small>Tuesday, 35th Dec, 19:30</small>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'component_chan-slider.html' %}
    <hr>
    <h4>Most Popular</h4>
    {% include 'component_video-slider.html' %}
    <h4>Most Watched</h4>
    {% include 'component_video-slider.html' %}
    <h4>Trending</h4>
    {% include 'component_video-slider.html' %}
    <h4>Latest Uploads</h4>
    {% include 'component_video-slider.html' %}
    <hr><br>
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
    $(document).ready(function()
    {
        // The size of the scrollbar thumb can be set to a
        // fixed number with the size option.
        //
        $(".nano").nanoScroller();
    });
    function vResize() {
        var vheight = $(".jwplayer").height();
        $(".player-cont .listing").css("max-height",vheight);
    };
    $(window).load(function() {
        vResize();
        $(".nano").nanoScroller();
    });
    $(window).resize(function () { vResize(); });
</script>
{% endblock %}