{% extends "base.html" %}

{% block header %}
<div id="channel_landing" class="row row-eq-height player-cont no-pad">
    <div class="col-md-9 player_container">
        <img class="img-responsive player" src="{{ url_for('static', filename='images/player.png') }}" alt="">
    </div>
    <div class="col-md-3 listing">
        <h3>TV Guide Listings</h3>
        <ul>
            <li>1 vs. 100
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>1st & Ten
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>10 Things I Hate About You
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The 100
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>100 Deeds for Eddie McDowd
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>100 Questions
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>101 Ways to Leave a Game Show
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>106 & Park
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adam-12
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adams of Eagle Lake
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Addams Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures in Paradise
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures in Wonderland
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Batman
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Brisco County, Jr.
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Jimmy Neutron: Boy Genius
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Kit Carson
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Ozzie and Harriet
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Pete & Pete
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Rin Tin Tin
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures of Sonic the Hedgehog
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>The Adventures of Super Mario Bros. 3
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Adventures of Superman
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>AfterMASH
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Aliens in America
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All About the Andersons
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All About Us
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All-American Girl
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All in the Family
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All My Children
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All of Us
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All Souls
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All Star Anything Goes
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All That
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All That Glitters
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>All's Fair
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Ally
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
            <li>Ally McBeal
            <small>Tuesday, 35th Dec, 19:30</small>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'component_chan-slider.html' %}
    <hr>
    <h4>Most Popular</h4>
    {% include 'component_video-slider.html' %}
    <h4>Most Popular</h4>
    {% include 'component_video-slider.html' %}
    <h4>Most Popular</h4>
    {% include 'component_video-slider.html' %}
    <h4>Most Popular</h4>
    {% include 'component_video-slider.html' %}
    <hr><br>
</div>
{% endblock %}

{% block footer %}
<footer>
	
</footer>
{% endblock %}