{% extends "base.html" %} {% block header %} {% endblock %} {% block body %}
<div class="container">
    <div class="row">
        <br>
        <div class="clearfix">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Choose Category <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Romance</a></li>
                </ul>
            </div>
        </div>
        <h3>Channels</h3>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="/static/images/lg1.png">
            <h6>This is a test of a logo and how it might appear one day</h6>
            <br>
        </div>
    </div>
    <br>
</div>
{% endblock %} {% block footer_scripts %} {% endblock %}
