<h3>Watch Tv Channels</h3>
<div class="row no-pad chan-slider">
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg1.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg2.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg3.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg4.jpg') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg1.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg1.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg2.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg3.png') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg4.jpg') }}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="{{ url_for('static', filename='images/lg1.png') }}">
    </a>
</div>
<!-- /item -->
