<h4>Watch Tv Channels</h4>
<div class="row no-pad chan-slider">
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg1.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg2.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg3.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg4.jpg">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg1.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg1.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg2.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg3.png">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg4.jpg">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="/static/images/lg1.png">
    </a>
</div>
<!-- /item -->
