<div class="row no-pad video-slider">
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
                    
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie cusomize your own text for navigation</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>
                <span class="premium"><i class="glyphicon glyphicon-gift"></i></span>
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie cusomize your own text for navigation cusomize your own text for navigation</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small visible-lg visible-md">This is a movie</span>
                <span class="buttons">
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                </span>  
        </span>
        <img src="http://lorempixel.com/400/300/?{{random()}}">
    </div>
</div>

<!-- /item -->
