<div class="row no-pad video-slider">
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span><br>
                <span class="premium"><i class="glyphicon glyphicon-star"></i></span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
    <a href="#" class="slide">
        <span class="cover">
                <h4>Working Title</h4>
                <span class="small">This is a movie</span>
        </span>
        <img src="http://lorempixel.com/400/200/?{{random()}}">
    </a>
</div>
<!-- /item -->
