<div class="row no-pad video-slider">
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
    <div class="slide">
        <span class="cover on">
                <h4>Working Title</h4>
                <div class="tyle">
                    <span class="small visible-lg visible-md">This is a movie. You can cusomize your own text for navigation.</span>
                    <span class="buttons">
                        <a class="btn btn-info visible-lg visible-md"><i class="glyphicon glyphicon-plus"></i></a>
                        <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i></a>
                    </span>
                </div>
        </span>
        <img src="http://lorempixel.com/400/225/?{{random()}}">
    </div>
</div>

<!-- /item -->
