{% extends "base.html" %}

{% block header %}
    <div class="jumbotron text-center">
    </div>
{% endblock %}

{% block body %}
    <div class="row no-pad">
        <div class="col-sm-4">
            <div class="movie-card">
                <div class="hover-black">&nbsp;</div>
                    <img class="img-responsive" src="/static/images/breakingbad.jpg" alt="">
                <div class="movie-card-text">
                    <a href="">
                        <h2>Title</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="movie-card">
                <div class="hover-black">&nbsp;</div>
                    <img class="img-responsive" src="/static/images/friends.jpg" alt="">
                <div class="movie-card-text">
                    <a href="">
                        <h2>Title</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="movie-card">
                <div class="hover-black">&nbsp;</div>
                    <img class="img-responsive" src="/static/images/humsafar.jpg" alt="">
                <div class="movie-card-text">
                    <a href="">
                        <h2>Title</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ url_for('vod_cat_landing') }}" class="btn btn-xs btn-block btn-info">View All Videos</a>
    <br><br>
    <div class="row mktng-subc">
    	<div class="col-md-6">
            <div class="subs text-center">
        		<h1>Become a subscriber</h1>
        		<p>Subscribe now and get access to all the premium content</p>
        		<a href="{{ url_for('subscribe_plans') }}" class="btn btn-lg btn-responsive btn-primary">Subscribe Now</a>
    	    </div>
        </div>
    	<div class="col-md-6">
    		<img class="img-responsive" src="/static/images/mobile.png" alt="">
    	</div>
    </div>
    <br><br>
{% endblock %}