{% extends "base.html" %}

{% block header %}
    <div class="jumbotron text-center">
    </div>
{% endblock %}

{% block body %}
    <div class="row row-eq-height no-pad home-bricks">
    	<div class="col-md-4">
    		<div class="mktng-card">
            <img class="img-responsive" src="/static/images/breakingbad.jpg" alt="">
    			<div class="mask">
                    <h2>Breaking Bad</h2>
                    <p class="thin">Mild-mannered high school chemistry teacher Walter White thinks his life can't get much worse. His salary barely makes ends meet, a situation not likely to improve once his pregnant wife gives birth, and their teenage son is battling cerebral palsy. But Walter is dumbstruck when he learns he has ter…</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="mktng-card">
    			<img class="img-responsive" src="/static/images/friends.jpg" alt="">
                <div class="mask">
        			<h2>FRIENDS</h2>
        			<p class="thin">Three young men and three young women - of the BFF kind - live in the same apartment complex and face life and love in New York. They're not above sticking their noses into one another's businesses and...</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
    		</div>
    		<div class="mktng-card">
    			<img class="img-responsive" src="/static/images/vikings.jpg" alt="">
                <div class="mask">
        			<h2>Vikings Show</h2>
        			<p class="thin">Viking Ragnar Lothbrok is a young farmer and family man who is frustrated by the policies of Earl Haraldson...</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
    		</div>
            <div class="mktng-card">
                <img class="img-responsive" src="/static/images/vikings.jpg" alt="">
                <div class="mask">
                    <h2>Another Show</h2>
                    <p class="thin">Viking Ragnar Lothbrok is a young farmer and family man who is frustrated by the policies of Earl Haraldson...</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
            </div>
    	</div>
    	<div class="col-md-4">
    		<div class="mktng-card">
    			<img class="img-responsive" src="/static/images/humsafar.png" alt="">
                <div class="mask">
        			<h2>Hamsafar (Urdu)</h2>
        			<p class="thin">Woh Hamsafar that magar uss say hamnawai na thi.</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
    		</div>
    		<div class="mktng-card">
    			<img class="img-responsive" src="/static/images/narcos.jpg" alt="">
                <div class="mask">
        			<h2>Narcos</h2>
        			<p class="thin">Netflix takes on the infamous Medellín drug cartel in "Narcos," which follows the rise and fall of Colombian kingpin Pablo Escobar</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
    		</div>
            <div class="mktng-card">
                <img class="img-responsive" src="/static/images/friends.jpg" alt="">
                <div class="mask">
                    <h2>One More Show</h2>
                    <p class="thin">Three young men and three young women - of the BFF kind - live in the same apartment complex and face life and love in New York. They're not above sticking their noses into one another's businesses and...</p>
                    <a class="btn btn-warning"><i class="glyphicon glyphicon-play"></i> Play</a>
                </div>
            </div>
    	</div>
    </div>
    <a href="{{ url_for('vod_cat_landing') }}" class="btn btn-xs btn-block btn-info">View All Videos</a>
    <br><br>
    <div class="row mktng-subc">
    	<div class="col-md-6">
            <div class="subs text-center">
        		<h1>Become a subscriber</h1>
        		<p>Subscribe now and get access to all the premium content</p>
        		<a href="{{ url_for('subscribe_plans') }}" class="btn btn-lg btn-responsive btn-primary">Subscribe Now</a>
    	    </div>
        </div>
    	<div class="col-md-6">
    		<img class="img-responsive" src="/static/images/mobile.png" alt="">
    	</div>
    </div>
    <br><br>
{% endblock %}