<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="sidebar-brand text-center">
      <a href="{{ url_for('welcome') }}">
        <img width="50" class="text-center" src="/static/images/logo-white.png" alt="">
        <div class="text">Pocket TV</div>
      </a>
    </div>
    <ul class="sidebar-nav">
      <li><a href="#search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
      <li><a href="{{ url_for('sink') }}">Sink</a></li>
      <li><a href="{{ url_for('event') }}">Event</a></li>
      <li><a href="{{ url_for('nescafe') }}">Nescafe</a></li>
      <li><a href="{{ url_for('channels') }}">Channels</a></li>
      <li><a href="{{ url_for('channel_landing') }}">Channel Landing</a></li>
      <li><a href="{{ url_for('vod_cat_landing') }}">VoD Cat Landing</a></li>
      <li><a href="{{ url_for('vod_landing') }}">VoD Landing</a></li>
      <li><a href="{{ url_for('tv_guide') }}">Tv Guide</a></li>
      <li><a href="{{ url_for('channel_program_listing') }}">Channel program listing</a></li>
      <li><a href="{{ url_for('subscribe_plans') }}">Subscribe</a></li>
      <li><a href="{{ url_for('subscription_status') }}">Subscription Status</a></li>
      <li><a href="{{ url_for('onboarding') }}">Onboarding</a></li>
      <li><a href="{{ url_for('transition') }}">Transition</a></li>
      <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
      <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
      <li><a href="{{ url_for('account_settings') }}">Account Settings</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->