{% extends "base.html" %}

{% block header %}
<style type="text/css">
	.player_container {
		max-width: 800px;
		margin:auto;
	}
	body {
		background: #444;
	}
</style>
<div class="container-fluid" style="background:black;">
    <h3 class="text-white">Episode x</h3>
    <div id="channel_landing" class="row row-eq-height player-cont no-pad">
        <div id="playa" class="player_container">
            <script src="/static/js/jwplayer.js"></script>
            <script>
                jwplayer.key="TFZs9is8ZltKH+LdlBiXFgi8B5ebtELQHrXOfk5s9wE=";
                jwplayer('playa').setup({
                    "image": "/static/images/169-1.jpg",
                    "file": "/static/vid.mp4",
                    "width": "100%",
                    "aspectratio": "16:9",
                    "logo": {
                            "file": '/static/images/logo-white-small.png',
                            "hide":true,
                            "position":'top-left'
                            //link: 'http://pockettv.com.pk'
                        },
                    "skin" : {
                    "url":"/static/css/skin.scss.css?{{random()}}",
                    "name": "pocket"
                    },
                    "sharing" : {
                        "link": "http://example.com/videos/12345",
                        "code": '<iframe src="http://example.com/12345.html"  width="480"  height="270"  frameborder="0"  scrolling="auto" />',
                        "heading": "",
                        "sites": ['facebook','twitter','reddit']
                    },
                    "abouttext": "PocketTV",
                    "aboutlink": "http://smart.pockettv.pk"
                });

                jwplayer().addButton(
                    "/static/images/options.svg",
                    "",
                    function(){
                        var menu = document.getElementById("fake_menu");
                        if (!menu) {
                            var div = document.createElement("div");
                            div.setAttribute("id", "fake_menu");
                            div.innerHTML = "<li><a href=''>240p</a></li><li><a href=''>3600p</a></li><li><a href=''>480p</a></li><li><a href=''>HD</a></li>";
                            document.getElementById("playa").appendChild(div);
                        }
                        else {
                            document.getElementById("fake_menu").remove();
                        };
                        
                    },
                    "fake_menu"
                );
                //alert( 'Your screen resolution is ' + screen.width + 'x' + screen.height );
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container nescafe" hidden>
	<div class="text text-center">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	</div>
	<hr>
    <div class="row">
        <h3>Previous Episodes</h3><br>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
    </div>
    <br>
</div>
{% endblock %}

{% block footer_scripts %}

{% endblock %}