{% extends "base.html" %}

{% block header %}
<style type="text/css">
	.player_container {
		max-width: 800px;
		margin:auto;
	}
	body {
		background: #444;
	}
</style>
<div class="container-fluid" style="background:black;">
    <h3 class="text-white">Episode x</h3>
    <div id="channel_landing" class="row row-eq-height player-cont no-pad">
        <div class="player_container">
            <script src="//content.jwplatform.com/players/mehQh2nv-jmwSY1dq.js"></script>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container nescafe">
	<div class="text text-center">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	</div>
	<hr>
    <div class="row">
        <h3>Previous Episodes</h3><br>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        	<a href="#"><img class="img-responsive" src="http://lorempixel.com/236/136/?{{random()}}"></a>
            <h4>Episode 6</h4>
            <br>
        </div>
    </div>
    <br>
</div>
{% endblock %}

{% block footer_scripts %}

{% endblock %}