{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block body %}
<div class="signin">
		<div class="text-center">
	        <h1>Sign In</h1>
	        <p>Sign in to watch Premium Content.</p>
    </div>

        <div class="row">

          <div class="col-sm-4 col-md-4">
          </div>

          <div class="col-sm-4 col-md-4 well">

              <form action="" method="POST" role="form">
                <div class="form-group">
                  <label for="">Phone Number</label>
                  <input type="text" class="form-control" id="" placeholder="Phone Number">
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" class="form-control" id="">
                </div>
                <div class="form-group">
                  <label><input type="checkbox" value=""> Remember Me</label>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Sign In</button>
                <a href="/sign_up" class="btn btn-block btn-default">Not a User? Sign Up</a>
              </form>
              <hr>
              <div class="text-center">
                <a href="">Forgot Password</a>
              </div>
          </div>

          <div class="col-sm-4 col-md-4  ">
          </div>

        </div> <!-- row-->

</div>
{% endblock %}