{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block body %}
<div class="pricing-tables">
		<div class="text-center">
	        <h1 id="detached-wide">
				Subscribe Now
	        </h1>
	        <h4>Watch all the premium movies, videos and live TV that you want.</h4>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
           
           <div class="plan">

              <div class="head">
                <h2>Starter</h2>
              
              </div>  

              <ul class="item-list">
                   <li><strong>20GB</strong> Data</li>
                   <li>
                    <strong>15</strong> Movies</li>
                   <li><strong>5</strong> Hours Live TV </li>
                   <li><strong>Endless</strong> Clips</li>

              </ul>

              <div class="price">
                <h3><span class="symbol">Rs.</span>19</h3>
                <h4>per month</h4>
              </div>

              <button type="button" class="btn btn-success">Subscribe Now</button>

           </div>
             
            
          </div>


          <div class="col-sm-4 col-md-4 ">
                      <div class="plan">

              <div class="head">
                <h2>Value</h2>
              
              </div>  

              <ul class="item-list">
                   <li><strong>50GB</strong> Data</li>
                   <li><strong>25</strong> Movies</li>
                   <li><strong>15</strong> Hours Live Streaming</li>
                   <li></li>
                   <li><strong>Endless</strong> Clips</li>

              </ul>

              <div class="price">
                <h3><span class="symbol">Rs.</span>29</h3>
                <h4>per month</h4>
              </div>

              <button type="button" class="btn btn-success">Subscribe Now</button>

           </div>

          </div>


          <div class="col-sm-4 col-md-4  ">
                       <div class="plan">

              <div class="head">
                <h2>Pro</h2>
              
              </div>  

              <ul class="item-list">
                   <li><strong>100GB </strong>Data</li>
                   <li><strong>50 </strong>Movies</li>
                   <li><strong>25</strong> Hours Live Tv</li>
                   <li><strong>Endless</strong> Clips</li>

              </ul>

              <div class="price">
                <h3><span class="symbol">Rs.</span>49</h3>
                <h4>per month</h4>
              </div>

              <button type="button" class="btn btn-success">Subscribe Now</button>

           </div>

          </div>

        </div> <!-- row-->

      </div>
{% endblock %}