{% extends "base.html" %}

{% block header %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<h1>TV Guide</h1>
	<div class="">
		<table class="table tv_guide_table">
			<thead>
				<tr class="row">
					<th class="col-md-2">
						Channel
					</th>
					<th class="col-md-5">
						Now
					</th>
					<th class="col-md-5">
						Later
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>The Adventures of Robin Hood (1938)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i> <span class="premium"><i class="glyphicon glyphicon-star"></i></span></button>
					</td>
					<td class="col-md-5">
						<h2>Weather Center</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>Alice Doesn't Live Here Anymore (1975)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
					</td>
					<td class="col-md-5">
						<h2>All About Eve (1950)</h2>
						<small class="text-muted">7:00 – 10:00p</small>s
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>Anastasia (1956)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
					</td>
					<td class="col-md-5">
						<h2>A full length talk show for mad people</h2>
						<small class="text-muted">7:00 – 10:00p</small>s
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>Atlantic City (1981)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i> <span class="premium"><i class="glyphicon glyphicon-star"></i></span></button>
					</td>
					<td class="col-md-5">
						<h2>Before the Rain (1994, reviewed 1995)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>Bed and Board (1971)</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
					</td>
					<td class="col-md-5">
						<h2>Badlands (1973)</h2>
						<small class="text-muted">7:00 – 10:00p</small>s
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
				<tr class="row">
					<th class="col-md-2">
						<img class="img-responsive img-thumbnail" src="http://lorempixel.com/300/200/?{{random()}}">
					</th>
					<td class="col-md-5">
						<h2>Weather Center</h2>
						<small class="text-muted">7:00 – 10:00p</small>
						<p>An in-depth examination of the day's top weather stories.</p>
						<button class="btn btn-warning pull-right"><i class="glyphicon glyphicon-play"></i></button>
					</td>
					<td class="col-md-5">
						<h2>Weather Center</h2>
						<small class="text-muted">7:00 – 10:00p</small>s
						<p>An in-depth examination of the in-depth examination of the day's top weather stories that made i to the newws.</p>
						<button class="btn btn-info btn-xs pull-right">Full Schedule</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}