<div class="row rowlist">
    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/1.jpg" alt="">
    	</div>

    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/2.jpg" alt="">
    	</div>
    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/4.jpg" alt="">
    	</div>
    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/5.jpg" alt="">
    	</div>
    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/6.jpg" alt="">
    	</div>
    	<div class="col-md-2">
    		<img class="img-responsive" src="/static/images/7.jpg" alt="">
    	</div>
    </div>